:root {
    --border-thickness: 2px;
}
html {
    --item-icon-transform-hover:  !important;
    --item-icon-transform:  !important;
    --font-body: Arial !important;
    --font-headings: Arial !important;
    --primary: white !important;
    --background: #008081 !important;
    --background-darker: #008081 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

label.lbl-toggle {
    background: linear-gradient(90deg, rgba(0,0,139,1) 0%, rgba(4,141,228,1) 100%);
    border-radius: 0px !important;
    color: white !important;
    font-family: Arial !important;
    height: 15px !important;
}
label.lbl-toggle::before {
    content: "" !important;
    display: none !important;
}
label.lbl-toggle > h3 {
    font-size: smaller !important;
    position: absolute !important;
}
label.lbl-toggle > svg {
    display: none !important;
}
label.lbl-toggle > div > img {
    height: 18px !important;
}
label.lbl-toggle > div {
    margin-right: .25rem !important;
}
.item.side-bar-item.w-icon.has-tooltip {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    background-color: grey !important;
    border-left: var(--border-thickness) darkgrey solid !important;
    border-top: var(--border-thickness) darkgrey solid !important;
    border-bottom: var(--border-thickness) black solid !important;
    border-right: var(--border-thickness) black solid !important;
    border-radius: 0px !important;
}
.item.side-bar-item.w-icon.has-tooltip:active {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    background-color: lightgrey !important;
    border-left: var(--border-thickness) black solid !important;
    border-top: var(--border-thickness) black solid !important;
    border-bottom: var(--border-thickness) darkgrey solid !important;
    border-right: var(--border-thickness) darkgrey solid !important;
}
div.item-wrapper {
    background-color: grey !important;
    border-radius: 0px !important;
    border-left: var(--border-thickness) darkgrey solid !important;
    border-top: var(--border-thickness) darkgrey solid !important;
    border-bottom: var(--border-thickness) black solid !important;
    border-right: var(--border-thickness) black solid !important;
    margin-bottom: 3.5px !important;
    margin-left: 2.5px !important;
    margin-right: 2.5px !important;
}

div.item-wrapper:active {
    background-color: lightgrey !important;
    border-radius: 0px !important;
    border-left: var(--border-thickness) black solid !important;
    border-top: var(--border-thickness) black solid !important;
    border-bottom: var(--border-thickness) darkgrey solid !important;
    border-right: var(--border-thickness) darkgrey solid !important;
    margin-bottom: 3.5px !important;
    margin-left: 2.5px !important;
    margin-right: 2.5px !important;
}
a.item {
    border-radius: 0px !important;
    color: black !important;
    background: rgba(0, 0, 0, 0) !important;
    --item-icon-transform:  !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    font-family: Arial !important;
}

a.item:active {
    border-radius: 0px !important;
    color: black !important;
    background: rgba(0, 0, 0, 0) !important;
    --item-icon-transform:  !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    font-family: Arial !important;
}

a.item:hover {
    color: black !important;
}

div.content-inner {
    background-color: lightgrey !important;
}

div.is-open.collapsable.col-1.row-1 {
    padding: 0px !important;
    border-radius: 0px !important;
    border-left: var(--border-thickness) darkgrey solid !important;
    border-top: var(--border-thickness) darkgrey solid !important;
    border-bottom: var(--border-thickness) black solid !important;
    border-right: var(--border-thickness) black solid !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
div.collapsible-content {
    border-radius: 0px !important;
}

.dot {
    border-radius: 0% !important;
    border: var(--border-thickness) black solid !important;
}

.dot-green {
    background-color: lime !important;
}

.dot-red {
    background-color: red !important;
}

.indicator:hover {
    transform: scale(1) !important;
}
